<div class="main">
    <div class="logo">
        Deepak General Store
    </div>
    <div class="tabs">
        <div class="tab-item">
            Dashboard
        </div>
        <div class="tab-item">
            Billing
        </div>
        <div class="tab-item">
            Customers
        </div>
        <div class="tab-item">
            Inventory
        </div>
    </div>
    
    <div class="icons">
        <div class="loginbtn">
            <button>
                Logout
            </button>
        </div>
        <div class="langicon">
            <img src="../../../../assets/img/Language.svg" alt="">
        </div>
        <div class="themeicon">
            <img src="../../../../assets/img/Theme.svg" alt="">
        </div>
    </div>
</div>